@mixin fill-full($dir: 'full', $type: absolute) {
  position: $type;

  @if $dir != 'bottom' {
    top: 0;
  }
  @if $dir != 'right' {
    left: 0;
  }
  @if $dir != 'left' {
    right: 0;
  }
  @if $dir != 'top' {
    bottom: 0;
  }
}
