:root {
  --body-bg: #fff;
  --text-color: #000;
  --card-border-color: rgba(0, 0, 0, 0.125);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #323336;
    --text-color: #e8eaed;
    --card-border-color: rgba(255, 255, 255, 0.125);
  }
}

body {
  background-color: var(--body-bg);
  color: var(--text-color);
}

.card {
  background-color: var(--body-bg);
  color: var(--text-color);
  border-color: var(--card-border-color);
}

.form-control {
  &,
  &:focus {
    background-color: var(--body-bg);
    color: var(--text-color);
    border-color: var(--card-border-color);
  }
}

.sticky-search-container {
  background-color: var(--body-bg);
}
