%cat-img {
  @include fill-full;
  animation: rotating 2.79s cubic-bezier(0.65, 0.54, 0.12, 0.93) infinite;

  &::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background-size: 200%;
    background-repeat: no-repeat;
    background-image: url('~/static/cat-loader.png');
  }
}

@keyframes rotating {
  from {
    transform: rotate(720deg);
  }
  to {
    transform: none;
  }
}

.cat {
  position: relative;
  width: 100%;
  max-width: 7rem;
  overflow: hidden;
  pointer-events: none;
  // background-color: #e6dcdc;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &:hover > * {
    animation-play-state: paused;
  }

  &:active > * {
    animation-play-state: running;
  }

  // The Head
  &__head {
    @extend %cat-img;

    &::before {
      top: 0;
      right: 0;
      background-position: 100% 0%;
      transform-origin: 0% 100%;
      transform: rotate(90deg);
    }
  }

  // The Tail
  &__tail {
    @extend %cat-img;
    animation-delay: 0.2s;

    &::before {
      left: 0;
      bottom: 0;
      background-position: 0% 100%;
      transform-origin: 100% 0%;
      transform: rotate(-30deg);
    }
  }

  // The Body
  &__body {
    @extend %cat-img;
    animation-delay: 0.1s;

    &:nth-of-type(2) {
      animation-delay: 0.2s;
    }

    &::before {
      right: 0;
      bottom: 0;
      background-position: 100% 100%;
      transform-origin: 0% 0%;
    }
  }
}
