<template>
  <div class="row">
    <div class="col-12 mt-4 mb-5">
      <h1 class="display-3">Szavazz!</h1>
      <h2 class="h3">
        Megfejtések a napi
        <a :href="games.szozat.url" target="_blank" rel="noopener noreferrer">
          <em>{{ games.szozat.title }}</em>
        </a>
        és
        <a
          :href="games.szoreggelt.url"
          target="_blank"
          rel="noopener noreferrer"
        >
          <em>{{ games.szoreggelt.title }}</em>
        </a>
        játékokhoz
      </h2>
    </div>
  </div>
</template>

<script>
import { GAMES } from '~/constants'

export default {
  name: 'AppHeader',

  data() {
    return {
      games: GAMES,
    }
  },
}
</script>
