<template>
  <div
    class="fixed-top w-100 h-100 d-flex align-items-center justify-content-center cat-loader-container"
  >
    <div class="cat">
      <div class="cat__body"></div>
      <div class="cat__body"></div>
      <div class="cat__tail"></div>
      <div class="cat__head"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CatLoader',
}
</script>

<style lang="scss">
@import '~/assets/scss/tools/tools.mixins';
@import '~/assets/scss/components/components.cat-loader';

.cat-loader-container {
  background-color: rgb(0 0 0 / 20%);
  background-color: #e6dcdc;
  transition: 1000ms;

  &.is-fading-out {
    opacity: 0;
  }
}
</style>
