<template>
  <div
    class="fixed-top w-100 h-100 d-flex align-items-center justify-content-center loading-spinner-container"
  >
    <div
      class="spinner-border text-info"
      role="status"
      style="width: 3rem; height: 3rem"
    >
      <span class="sr-only">Töltés...</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoadingSpinner',
}
</script>

<style lang="scss">
.loading-spinner-container {
  background-color: rgb(0 0 0 / 20%);
  transition: 1000ms;

  &.is-fading-out {
    opacity: 0;
  }
}
</style>
