<template>
  <div class="col-12 mb-5">
    <SolutionItem :is-item-hidden="true" :item="item" />
  </div>
</template>

<script>
export default {
  name: 'RecentSolution',

  props: {
    item: {
      type: Object,
      required: true,
      default: () => null,
    },
  },
}
</script>
