<template>
  <div class="form-group m-0">
    <input
      v-model="input"
      type="search"
      class="form-control"
      placeholder="Keresett dátum vagy szó"
      @input="$nuxt.$emit('updateSearchForm', input)"
    />

  </div>
</template>

<script>
export default {
  name: 'SearchForm',

  data() {
    return {
      input: '',
    }
  },
}
</script>
