<template>
  <article class="card">
    <div class="row mx-0">
      <div class="col-12 col-md-4 d-flex align-items-center">
        <div class="py-3">
          <h5 class="card-title mb-0">{{ item.date }}</h5>
        </div>
      </div>
      <div class="col-md-8">
        <div
          v-if="solutions"
          class="d-flex flex-column flex-md-row row mx-0 pb-3 py-md-3"
        >
          <div
            v-for="(solution, index) in solutions"
            :key="`solutionItem_${item.date}_${index}`"
            :class="[
              `col-12 col-md-${colWidth}`,
              'd-flex align-items-center justify-content-between',
              'card-text',
              'mt-1 mt-md-0',
              'px-0',
            ]"
          >
            <div class="d-md-none" style="width: 35%">
              {{ games[index].title }}
            </div>

            <div
              class="d-flex flex-md-row-reverse align-items-center justify-content-md-end solutions-row"
            >
              <span>
                <slot v-if="!isItemHidden || games[index].isVisible">
                  {{ solution }}
                </slot>
                <slot v-if="isItemHidden && !games[index].isVisible">
                  *****
                </slot>
              </span>

              <button
                v-if="isItemHidden"
                type="button"
                class="btn btn-sm btn-outline-secondary ml-2 ml-md-0 mr-md-3"
                @click.prevent="
                  games[index].isVisible = !games[index].isVisible
                "
              >
                <b-icon-eye />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
import { GAMES } from '~/constants'

export default {
  name: 'SolutionItem',

  props: {
    isItemHidden: {
      type: Boolean,
      required: false,
      default: () => false,
    },

    item: {
      type: Object,
      required: true,
      default: () => null,
    },
  },

  data() {
    return {
      games: this.alterGames(),
      isItemVisible: false,
    }
  },

  computed: {
    solutions() {
      const { szozat, szoreggelt } = this.item
      return { szozat, szoreggelt }
    },

    colWidth() {
      return Math.floor(12 / Object.entries(this.solutions).length).toFixed(0)
    },
  },

  methods: {
    alterGames() {
      return Object.keys(GAMES).reduce((acc, key) => {
        const newGame = { ...GAMES[key], isVisible: false }
        return { ...acc, [key]: newGame }
      }, {})
    },

    toggleSolution() {},
  },
}
</script>
