<template>
  <div class="col-12 sticky-top">
    <article class="d-none d-md-block mb-2 card border-0 py-2">
      <div class="row mx-0 align-items-center">
        <div class="col-12 col-md-4 pl-0">
          <SearchForm />
        </div>

        <div class="col-md-8">
          <div class="d-flex flex-column flex-md-row row mx-0 px-0">
            <div
              v-for="(game, index) in GAMES"
              :key="`solutionItemHeading_${index}`"
              :class="['card-text', 'px-0', `col-${colWidth}`]"
            >
              {{ game.title }}
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</template>

<script>
import { GAMES } from '~/constants'

export default {
  name: 'SolutionItemHeading',

  props: {
    onlyHeaders: {
      type: Boolean,
      required: false,
      default: () => false,
    },
  },

  data() {
    return {
      GAMES,
    }
  },

  computed: {
    colWidth() {
      return Math.floor(12 / Object.entries(this.GAMES).length).toFixed(0)
    },
  },
}
</script>
