<template>
  <div class="col-12 mb-3">
    <SolutionItem
      v-for="item in items"
      :key="`solutionItem_${item.date}`"
      :item="item"
      class="mb-2"
    />
  </div>
</template>

<script>
export default {
  name: 'SolutionsList',

  props: {
    items: {
      type: [Array, Object],
      required: true,
      default: () => null,
    },
  },
}
</script>
