<template>
  <div class="col-12 d-flex justify-content-center mb-5">
    <div class="btn-group" role="group" aria-label="Pagination">
      <button
        type="button"
        class="btn btn-outline-secondary"
        :disabled="currentPage === 1"
        @click.prevent="goToPage(1)"
      >
        <b-icon-chevron-double-left />
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        :disabled="currentPage === 1"
        @click.prevent="goToPreviousPage"
      >
        <b-icon-chevron-left />
      </button>
      <button type="button" class="btn btn-outline-secondary" disabled>
        <span class="text-primary">{{ currentPage }}</span> / {{ totalPages }}
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        :disabled="currentPage === totalPages"
        @click.prevent="goToNextPage"
      >
        <b-icon-chevron-right />
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        :disabled="currentPage === totalPages"
        @click.prevent="goToPage(totalPages)"
      >
        <b-icon-chevron-double-right />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SolutionsPagination',

  props: {
    currentPage: {
      type: Number,
      required: true,
    },
    totalPages: {
      type: Number,
      required: true,
    },
  },

  methods: {
    goToPage(pageNumber) {
      this.$nuxt.$emit('goToPage', pageNumber)
    },

    goToPreviousPage() {
      const page = this.currentPage - 1
      this.$nuxt.$emit('goToPage', page)
    },

    goToNextPage() {
      const page = this.currentPage + 1
      this.$nuxt.$emit('goToPage', page)
    },
  },
}
</script>
