<template>
  <div class="row">
    <CatLoader v-if="isLoading" ref="catLoader" />

    <RecentSolution v-if="recentItem" :item="recentItem" />

    <slot v-if="otherItems">
      <div class="col-12">
        <h3>Korábbi megoldások</h3>
      </div>
      <SolutionItemHeading />

      <div class="col-12 d-md-none sticky-top pt-3 sticky-search-container">
        <SearchForm class="mb-3" />
      </div>

      <SolutionsList v-if="shownItems.length" :items="shownItems" />
      <div v-if="!shownItems.length" class="col-12 py-3 text-center">
        Nincsenek korábbi megoldások.
      </div>

      <SolutionsPagination
        :current-page="currentPage"
        :total-pages="totalPages"
        @go-to-page="goToPage"
      />
    </slot>
  </div>
</template>

<script>
import { LOADER_TIMEOUT_IN_MILLISEC } from '~/constants'
import { getSolutions } from '~/middleware/solution'

export default {
  name: 'IndexPage',

  data() {
    return {
      isLoading: true,
      items: [],
      searchQuery: null,
      currentPage: 1,
      ipp: 10,
    }
  },

  computed: {
    sortedItems() {
      return [...this.items].sort((a, b) => b.date.localeCompare(a.date))
    },

    recentItem() {
      return [...this.sortedItems].splice(0, 1)[0]
    },

    otherItems() {
      let otherItems = [...this.sortedItems].splice(1)

      if (this.searchQuery) {
        const q = this.searchQuery.toLowerCase()

        otherItems = otherItems.reduce((acc, item) => {
          if (
            item.date.includes(q) ||
            item.szozat.toLowerCase().includes(q) ||
            item.szoreggelt.toLowerCase().includes(q)
          ) {
            acc.push(item)
          }

          return acc
        }, [])
      }

      return otherItems
    },

    shownItems() {
      const startIndex = (this.currentPage - 1) * this.ipp
      return [...this.otherItems].slice(startIndex, startIndex + this.ipp)
    },

    totalPages() {
      return Math.ceil(this.otherItems.length / this.ipp)
    },
  },

  created() {
    this.$nuxt.$on('goToPage', (pageNumber) => this.goToPage(pageNumber))
    this.$nuxt.$on('updateSearchForm', (text) => (this.searchQuery = text))
  },

  mounted() {
    this.getInitialData()
  },

  methods: {
    async getInitialData() {
      const [solutions] = await Promise.all([getSolutions()])

      solutions.forEach((doc) => {
        this.items.push({
          id: doc.id,
          ...doc.data(),
        })
      })

      this.finishLoading()
    },

    finishLoading() {
      setTimeout(() => {
        this.$refs.catLoader.$el.classList.add('is-fading-out')
      }, LOADER_TIMEOUT_IN_MILLISEC / 2)

      setTimeout(() => {
        this.isLoading = false
      }, LOADER_TIMEOUT_IN_MILLISEC * 1.5)
    },

    goToPage(pageNumber) {
      if (pageNumber < 1 || pageNumber > this.totalPages) {
        return
      }

      this.currentPage = pageNumber
    },
  },
}
</script>
